.icn-search {
  display: inline-block;
  background-image: url("../assets/search.svg");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icn-arrow-next {
  display: inline-block;
  background-image: url("../assets/arrow-next.svg");
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icn-arrow-prev {
  display: inline-block;
  background-image: url("../assets/arrow-prev.svg");
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icn-car {
  display: inline-block;
  background-image: url("../assets/car.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icn-plane {
  display: inline-block;
  background-image: url("../assets/plane.svg");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
